/*
HyperREST API Icons    0.1.0
Requires Font-Awesome ~4.1.0
https://github.com/hyperrest/api-icons/
*/

/* API Concepts */
.fa-api-user:before                 { content: "\f007"; }
.fa-api-user-agent:before           { content: "\f109"; }
.fa-api-uri:before                  { content: "\f029"; }
.fa-api-resource:before             { content: "\f01c"; }
.fa-api-home:before                 { content: "\f015"; }
.fa-api-relation:before             { content: "\f0ec"; }
.fa-api-link:before                 { content: "\f0c1"; }
.fa-api-representation:before       { content: "\f0e0"; }
.fa-api-entity:before               { content: "\f0d0"; }
.fa-api-operation:before            { content: "\f111"; }
.fa-api-header:before               { content: "\f0c6"; }
.fa-api-payload:before              { content: "\f0f6"; }
.fa-api-request:before              { content: "\f01a"; }
.fa-api-response:before             { content: "\f01b"; }
.fa-api-status:before               { content: "\f087"; }
.fa-api-error:before                { content: "\f088"; }


/* HTTP Request */
.fa-http-request:before             { content: "\f01a"; }
.fa-http-options:before             { content: "\f059"; }
.fa-http-head:before                { content: "\f05a"; }
.fa-http-get:before                 { content: "\f058"; }
.fa-http-post:before                { content: "\f10c"; }
.fa-http-patch:before               { content: "\f055"; }
.fa-http-put:before                 { content: "\f06a"; }
.fa-http-delete:before              { content: "\f057"; }


/* HTTP Response */
.fa-http-response:before            { content: "\f01b"; }
.fa-http-status:before              { content: "\f087"; }
.fa-http-error:before               { content: "\f088"; }


/* HTTP Headers */
.fa-http-header:before              { content: "\f0c6"; }
.fa-http-location:before            { content: "\f041"; }
.fa-http-content-type:before        { content: "\f003"; }
.fa-http-accept:before              { content: "\f0b0"; }
.fa-http-www-authenticate:before    { content: "\f023"; }
.fa-http-authorization:before       { content: "\f084"; }
.fa-http-auth:before                { content: "\f084"; }
.fa-http-cache-control:before       { content: "\f021"; }
.fa-http-cache:before               { content: "\f021"; }
.fa-http-etag:before                { content: "\f02a"; }
.fa-http-if-match:before            { content: "\f02a"; }
.fa-http-if-none-match:before       { content: "\f02a"; }
.fa-http-expires:before             { content: "\f017"; }
.fa-http-date:before                { content: "\f073"; }
.fa-http-last-modified:before       { content: "\f073"; }
.fa-http-if-modified-since:before   { content: "\f073"; }
.fa-http-if-unmodified-since:before { content: "\f073"; }


/* Relation */
.fa-rel-self:before                 { content: "\f0e2"; }
.fa-rel-edit:before                 { content: "\f040"; }
.fa-rel-bookmark:before             { content: "\f02e"; }
.fa-rel-item:before                 { content: "\f02b"; }
.fa-rel-collection:before           { content: "\f02c"; }
.fa-rel-describes:before            { content: "\f08b"; }
.fa-rel-describedby:before          { content: "\f090"; }


/* Misc */
.fa-rest-rmm:before                 { content: "\f012"; }
.fa-rest-hypermedia:before          { content: "\f0ac"; }
.fa-rest-stateless:before           { content: "\f0ae"; }
.fa-rest-coupling:before            { content: "\f074"; }
.fa-http:before                     { content: "\f0fd"; }
