<!doctype html>

<html>
  <head>
    <title>HyperREST API icons</title>
    <!-- CSS -->
    <link rel="stylesheet" href="index.css"></link>
  </head>
  <body>
    <!-- Intro -->
    <div class="container">
      <div class="hero-unit">
        <h1><a href="http://hyperrest.github.io">HyperREST</a> API icons</h1>
        <hr>
        <div class="row-fluid">
          <div class="span6">
            <blockquote class="twitter-tweet"><p>@<a href="https://twitter.com/andreineculau">andreineculau</a> (cont.) I, icon designer, will do it myself <a href="http://t.co/YjcTz7JUxA" title="http://hyperrest.github.io/api-icons/">hyperrest.github.io/api-icons</a> <a href="https://twitter.com/search/%23hyperrest">#hyperrest</a> <a href="https://twitter.com/search/%23api">#api</a> <a href="https://twitter.com/search/%23icons">#icons</a></p>&mdash; Andrei Neculau (@andreineculau) <a href="https://twitter.com/andreineculau/status/313761665533489152">March 18, 2013</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="span6" style="min-height:325px">
            <hr>
            <p>
              This is a first quick go at creating a line of REST/HTTP icons based on <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>, but more important than the icons are the CSS class names (the icon API, if you will).
            </p>
            <p>
              If you want to add or change CSS class names, <a href="https://github.com/hyperrest/api-icons/issues/new">raise an issue</a>.<br>
              If you create another line of icons following this naming pattern, I'll be happy to link to it. Raise an issue or make a pull request.
            </p>
            <p class="text-right">
              <iframe src="http://ghbtns.com/github-btn.html?user=hyperrest&amp;repo=api-icons&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="153" height="30"></iframe>
              <iframe src="http://ghbtns.com/github-btn.html?user=hyperrest&amp;repo=api-icons&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="156" height="30"></iframe>
            </p>
          </div>
        </div>
        <pre>/* CSS Usage */
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import url('//rawgithub.com/hyperrest/api-icons/v0.1.0/hyperrest-api-icons.css');</pre>
      </div>

      <!-- Icons -->
      <div class="row-fluid" id="icons">
        <div class="span3">
          <h3>API Concepts</h3>
          <ul class="the-icons">
            <li><i class="fa fa-api-user"></i> fa-api-user</li>
            <li><i class="fa fa-api-user-agent"></i> fa-api-user-agent</li>
            <li><i class="fa fa-api-uri"></i> fa-api-uri</li>
            <li><i class="fa fa-api-resource"></i> fa-api-resource</li>
            <li><i class="fa fa-api-home"></i> fa-api-home</li>
            <li><i class="fa fa-api-relation"></i> fa-api-relation</li>
            <li><i class="fa fa-api-link"></i> fa-api-link</li>
            <li><i class="fa fa-api-representation"></i> fa-api-representation</li>
            <li><i class="fa fa-api-entity"></i> fa-api-entity</li>
            <li><i class="fa fa-api-operation"></i> fa-api-operation</li>
            <li><i class="fa fa-api-header"></i> fa-api-header</li>
            <li><i class="fa fa-api-payload"></i> fa-api-payload</li>
            <li><i class="fa fa-api-request"></i> fa-api-request</li>
            <li><i class="fa fa-api-response"></i> fa-api-response</li>
            <li><i class="fa fa-api-status"></i> fa-api-status</li>
            <li><i class="fa fa-api-error"></i> fa-api-error</li>
          </ul>
        </div>
        <div class="span3">
          <h3>HTTP Request</h3>
          <ul class="the-icons">
            <li class="muted"><i class="fa fa-api-operation"></i> fa-api-operation</li>
            <li class="muted"><i class="fa fa-api-request"></i> fa-api-request</li>
            <li><i class="fa fa-http-options"></i> fa-http-options</li>
            <li><i class="fa fa-http-head"></i> fa-http-head</li>
            <li><i class="fa fa-http-get"></i> fa-http-get</li>
            <li><i class="fa fa-http-post"></i> fa-http-post</li>
            <li><i class="fa fa-http-patch"></i> fa-http-patch</li>
            <li><i class="fa fa-http-put"></i> fa-http-put</li>
            <li><i class="fa fa-http-delete"></i> fa-http-delete</li>
          </ul>

          <h3>HTTP Response</h3>
          <ul class="the-icons">
            <li class="muted"><i class="fa fa-http-response"></i> fa-http-response</li>
            <li class="muted"><i class="fa fa-http-status"></i> fa-http-status</li>
            <li class="muted"><i class="fa fa-http-error"></i> fa-http-error</li>
          </ul>
        </div>
        <div class="span3">
          <h3>HTTP Headers</h3>
          <ul class="the-icons">
            <li class="muted"><i class="fa fa-http-header"></i> fa-http-header</li>
            <li><i class="fa fa-http-location"></i> fa-http-location</li>
            <li><i class="fa fa-http-content-type"></i> fa-http-content-type</li>
            <li><i class="fa fa-http-accept"></i> fa-http-accept</li>
            <li><i class="fa fa-http-www-authenticate"></i> fa-http-www-authenticate</li>
            <li><i class="fa fa-http-authorization"></i> fa-http-authorization</li>
            <li class="muted"><i class="fa fa-http-auth"></i> fa-http-auth</li>
            <li><i class="fa fa-http-cache-control"></i> fa-http-cache-control</li>
            <li class="muted"><i class="fa fa-http-cache"></i> fa-http-cache</li>
            <li><i class="fa fa-http-etag"></i> fa-http-etag</li>
            <li><i class="fa fa-http-if-match"></i> fa-http-if-match</li>
            <li><i class="fa fa-http-if-none-match"></i> fa-http-if-none-match</li>
            <li><i class="fa fa-http-expires"></i> fa-http-expires</li>
            <li><i class="fa fa-http-date"></i> fa-http-date</li>
            <li><i class="fa fa-http-last-modified"></i> fa-http-last-modified</li>
            <li><i class="fa fa-http-if-modified-since"></i> fa-http-if-modified-since</li>
            <li><i class="fa fa-http-if-unmodified-since"></i> fa-http-if-unmodified-since</li>
          </ul>
        </div>
        <div class="span3">
          <h3>Relation</h3>
          <ul class="the-icons">
            <li class="muted"><i class="fa fa-api-relation"></i> fa-api-relation</li>
            <li class="muted"><i class="fa fa-api-link"></i> fa-api-link</li>
            <li><i class="fa fa-rel-self"></i> fa-rel-self</li>
            <li><i class="fa fa-rel-edit"></i> fa-rel-edit</li>
            <li><i class="fa fa-rel-bookmark"></i> fa-rel-bookmark</li>
            <li><i class="fa fa-rel-item"></i> fa-rel-item</li>
            <li><i class="fa fa-rel-collection"></i> fa-rel-collection</li>
            <li><i class="fa fa-rel-describes"></i> fa-rel-describes</li>
            <li><i class="fa fa-rel-describedby"></i> fa-rel-describedby</li>
          </ul>

          <h3>Misc</h3>
          <ul class="the-icons">
            <li><i class="fa fa-rest-rmm"></i> fa-rest-rmm</li>
            <li><i class="fa fa-rest-hypermedia"></i> fa-rest-hypermedia</li>
            <li><i class="fa fa-rest-stateless"></i> fa-rest-stateless</li>
            <li><i class="fa fa-rest-coupling"></i> fa-rest-coupling</li>
            <li><i class="fa fa-http"></i> fa-http</li>
          </ul>
        </div>
      </div>

      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      <script type="text/javascript">
          var disqus_shortname = 'andreineculauhyperrest',
              disqus_identifier = '/icons.html';

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
    </div>

    <!-- This template has been duplicated from http://fortawesome.github.com/Font-Awesome/index.html -->
    <script type="text/template" id="modal-template">
      <div class="modal hide fade in">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><i class="fa fa-remove"></i></a>
          <h4><%= iconName %></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="span3 icon6">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                280px
              </div>
            </div>
            <div class="span3 icon5">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                140px
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span2 icon4">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                112px
              </div>
            </div>
            <div class="span2 icon3">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                56px
              </div>
            </div>
            <div class="span1 icon2">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                28px
              </div>
            </div>
            <div class="span1 icon1">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                14px
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <!-- JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38765969-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script src="index.js"></script>
  </body>
</html>
