<!doctype html>
<html>
  <head>
    <!-- CSS -->
    <link href="index.css" rel="stylesheet"></link>
  </head>
  <body>
    <!-- Intro -->
    <div class="container">
      <div class="hero-unit">
        <h1><a href="https://twitter.com/andreineculau/statuses/268773840241434627">HyperREST</a> API icons</h1>
        <div class="row-fluid">
          <div class="span6">
            <blockquote class="twitter-tweet"><p>yo, icon designer - want a fresh idea? REST API icons (agent, resource, relation, representation, entity, request, response, ..) pls RT</p>&mdash; Andrei Neculau (@andreineculau) <a href="https://twitter.com/andreineculau/status/313589812743520256">March 18, 2013</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="span6">
            <p>
              This is a first quick go at creating a line of REST/HTTP icons based on <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>, but more important than the icons are the CSS class names.
            </p>
            <p>
              If you want to add or change CSS class names, <a href="https://github.com/andreineculau/hyperrest-api-icons/issues/new">raise an issue</a>.<br>
              If you create another line of icons following this naming pattern, I'll be happy to link to it. Raise an issue or make a pull request.
            </p>
          </div>
        </div>
      </div>

      <!-- Icons -->
      <div class="row-fluid" id="icons">
        <div class="span3">
          <h3>API Concepts</h3>
          <ul class="the-icons">
            <li><i class="icon-user"></i> icon-api-user</li>
            <li><i class="icon-laptop"></i> icon-api-user-agent</li>
            <li><i class="icon-globe"></i> icon-api-uri</li>
            <li><i class="icon-inbox"></i> icon-api-resource</li>
            <li><i class="icon-home"></i> icon-api-home</li>
            <li><i class="icon-exchange"></i> icon-api-relation</li>
            <li><i class="icon-link"></i> icon-api-link</li>
            <li><i class="icon-envelope-alt"></i> icon-api-representation</li>
            <li><i class="icon-magic"></i> icon-api-entity</li>
            <li><i class="icon-circle"></i> icon-api-operation</li>
            <li><i class="icon-paper-clip"></i> icon-api-header</li>
            <li><i class="icon-download"></i> icon-api-request</li>
            <li><i class="icon-upload"></i> icon-api-response</li>
            <li><i class="icon-thumbs-up"></i> icon-api-status</li>
            <li><i class="icon-thumbs-down"></i> icon-api-error</li>
          </ul>
        </div>
        <div class="span3">
          <h3>HTTP Methods</h3>
          <ul class="the-icons">
            <li class="muted"><i class="icon-circle"></i> icon-api-operation</li>
            <li class="muted"><i class="icon-download"></i> icon-api-request</li>
            <li class="muted"><i class="icon-upload"></i> icon-api-response</li>
            <li><i class="icon-question-sign"></i> icon-http-options</li>
            <li><i class="icon-info-sign"></i> icon-http-head</li>
            <li><i class="icon-ok-sign"></i> icon-http-get</li>
            <li><i class="icon-circle-blank"></i> icon-http-post</li>
            <li><i class="icon-plus-sign"></i> icon-http-patch</li>
            <li><i class="icon-exclamation-sign"></i> icon-http-put</li>
            <li><i class="icon-remove-sign"></i> icon-http-delete</li>
          </ul>
        </div>
        <div class="span3">
          <h3>HTTP Headers</h3>
          <ul class="the-icons">
            <li class="muted"><i class="icon-paper-clip"></i> icon-api-header</li>
            <li><i class="icon-map-marker"></i> icon-http-location</li>
            <li><i class="icon-envelope"></i> icon-http-content-type</li>
            <li><i class="icon-filter"></i> icon-http-accept</li>
            <li><i class="icon-lock"></i> icon-http-www-authenticate</li>
            <li><i class="icon-key"></i> icon-http-authorization</li>
            <li class="muted"><i class="icon-key"></i> icon-http-auth</li>
            <li><i class="icon-refresh"></i> icon-http-cache-control</li>
            <li class="muted"><i class="icon-refresh"></i> icon-http-cache</li>
            <li><i class="icon-qrcode"></i> icon-http-etag</li>
            <li><i class="icon-qrcode"></i> icon-http-if-match</li>
            <li><i class="icon-qrcode"></i> icon-http-if-none-match</li>
            <li><i class="icon-time"></i> icon-http-date</li>
            <li><i class="icon-time"></i> icon-http-expires</li>
            <li><i class="icon-calendar"></i> icon-http-last-modified</li>
            <li><i class="icon-calendar"></i> icon-http-if-modified-since</li>
            <li><i class="icon-calendar"></i> icon-http-if-unmodified-since</li>
          </ul>
        </div>
        <div class="span3">
          <h3>Relation</h3>
          <ul class="the-icons">
            <li class="muted"><i class="icon-exchange"></i> icon-api-relation</li>
            <li class="muted"><i class="icon-link"></i> icon-api-link</li>
            <li><i class="icon-undo"></i> icon-rest-rel-self</li>
            <li><i class="icon-pencil"></i> icon-rest-rel-edit</li>
            <li><i class="icon-bookmark"></i> icon-rest-rel-bookmark</li>
            <li><i class="icon-tag"></i> icon-rest-rel-item</li>
            <li><i class="icon-tags"></i> icon-rest-rel-collection</li>
            <li><i class="icon-signout"></i> icon-rest-rel-describes</li>
            <li><i class="icon-signin"></i> icon-rest-rel-describedby</li>
          </ul>

          <h3>Misc</h3>
          <ul class="the-icons">
            <li><i class="icon-signal"></i> icon-rest-rmm</li>
          </ul>
        </div>
      </div>

      <!-- Story -->
      <div class="hero-unit">
        <p class="lead">Storyline</p>
        <p>
          Once upon a time, ...
        </p>
      </div>
    </div>

    <!-- JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="index.js"></script>

    <!-- This template has been duplicated from http://fortawesome.github.com/Font-Awesome/index.html -->
    <script type="text/template" id="modal-template">
      <div class="modal hide fade in">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
          <h4><%= iconName %></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="span3 icon6">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                280px
              </div>
            </div>
            <div class="span3 icon5">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                140px
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span2 icon4">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                112px
              </div>
            </div>
            <div class="span2 icon3">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                56px
              </div>
            </div>
            <div class="span1 icon2">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                28px
              </div>
            </div>
            <div class="span1 icon1">
              <div class="thumbnail">
                <div><i class="<%= iconName %>"></i></div>
                14px
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
  </body>
</html>
